@charset"utf-8";
#login {
	display:table; /* 要素をテーブルのようにする */
    width:100%;
    max-width:600px;
    height:500px;
    margin:0 auto;
}
#login p{
	display:table-cell; /* 要素をテーブルのようにする */
    text-align:center; /* インライン要素の中央揃え */
    vertical-align:middle; /* 天地中央に揃える */
}
